<div class="container" style="padding: 10px;align-self: center">
    <div class="jumbotron"
        style="background-image: url(/assets/images/home-background.jpg);margin-top: 30px; padding: 150px;image-resolution: inherit">

        <h1 style="color: rgb(3, 11, 19);margin-top: 30px;text-align: right">Hello There!</h1>
        <h2 style="color: rgb(5, 10, 14);text-align: right">Welcome to myPortFolio</h2>
        <p style="color: rgb(10, 6, 1);text-align: right">Easy way to create your amazing portfolio...</p>
    </div>
</div>