<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIN</title>
</head>

<body>
    <div>
        <div class="jumbotron" style="margin: 45px">
            <h2 style="text-align: center;padding-top: 5%">Login</h2>
            <p style="text-align: center">Enter the registered E-mail address and the password!</p>
            <form action="">
                <div class="container">
                    <p style="text-align: center;padding-bottom: 20px">
                        E-mail <input type="email" name="email" placeholder="Enter Email Address" email required
                            style="padding-right: 60px;margin-left: 35px"></p>
                </div>
                <div class="container">
                    <p style="text-align: center">
                        Password <input type="password" name="password" placeholder="Enter Password" required
                            style="padding-right: 60px;margin-left: 15px"> <br>
                        <button class="btn btn-primary" style="margin-top: 20px"> Login</button>
                    </p>
                </div>


            </form>

        </div>



    </div>
</body>

</html>